maxim,n_regval = /bits/ 16 <
	/* Sunwoda_B1_LSN_EVT1_Vempty3.3_ALERT_LearnCFG_2365.INI */
	/* Generated on 2018/03/02 09:20:27 */
	0x80 0x0021	/* nXTable0                                 */
	0x81 0x0027	/* nXTable1                                 */
	0x82 0x0397	/* nXTable2                                 */
	0x83 0x0A81	/* nXTable3                                 */
	0x84 0x18E8	/* nXTable4                                 */
	0x85 0x1BCF	/* nXTable5                                 */
	0x86 0x0FF0	/* nXTable6                                 */
	0x87 0x0A38	/* nXTable7                                 */
	0x88 0x0989	/* nXTable8                                 */
	0x89 0x0800	/* nXTable9                                 */
	0x8A 0x0797	/* nXTable10                                */
	0x8B 0x0744	/* nXTable11                                */
	0x8E 0x0000	/* nODSCTh                                  */
	0x8F 0x0000	/* nODSCCfg                                 */
	0x90 0x7D0B	/* nOCVTable0                               */
	0x91 0x7D47	/* nOCVTable1                               */
	0x92 0xB1BD	/* nOCVTable2                               */
	0x93 0xB91B	/* nOCVTable3                               */
	0x94 0xBB3D	/* nOCVTable4                               */
	0x95 0xBCED	/* nOCVTable5                               */
	0x96 0xBEEC	/* nOCVTable6                               */
	0x97 0xC124	/* nOCVTable7                               */
	0x98 0xC27F	/* nOCVTable8                               */
	0x99 0xC80D	/* nOCVTable9                               */
	0x9A 0xCB04	/* nOCVTable10                              */
	0x9B 0xCDF1	/* nOCVTable11                              */
	0x9C 0x01DC	/* nIChgTerm                                */
	0x9D 0x0000	/* nFilterCfg                               */
	0x9E 0xA561	/* nVEmpty: VE=3300 VR=3880                 */
	0x9F 0x2672	/* nLearnCfg                                */
	0xA0 0x4180	/* nQRTable00                               */
	0xA1 0x1F00	/* nQRTable10                               */
	0xA2 0x0D80	/* nQRTable20                               */
	0xA3 0x0D03	/* nQRTable30                               */
	0xA4 0x0000	/* nCycles                                  */
	0xA5 0x0B66	/* nFullCapNom: 2918 mAh                    */
	0xA6 0x203B	/* nRComp0                                  */
	0xA7 0x1133	/* nTempCo                                  */
	0xA8 0x0000	/* nIAvgEmpty                               */
	0xA9 0x0B66	/* nFullCapRep                              */
	0xB0 0x7215	/* nConfig: SS TS VS Ten Aen TAlrtEn        */
	0xB1 0x0204	/* nRippleCfg                               */
	0xB2 0x0000	/* nMiscCfg                                 */
	0xB3 0x0B66	/* nDesignCap: 2918 mAh                     */
	0xB4 0x0000	/* nHibCfg                                  */
	0xB5 0x9C01	/* nPackCfg                                 */
	0xB6 0x0000	/* nRelaxCfg                                */
	0xB7 0x2241	/* nConvgCfg                                */
	0xB8 0xC9D0	/* nNVCfg0                                  */
	0xB9 0xA00E	/* nNVCfg1                                  */
	0xBA 0xFE0A	/* nNVCfg2                                  */
	0xBB 0x0002	/* nSBSCfg                                  */
	0xC0 0xDC94	/* nVAlrtTh: VMAX=4400 VMIN=2960            */
	0xC1 0x7F80	/* nTAlrtTh: Disabled                       */
	0xC2 0x6301	/* nSAlrtTh: SMAX=99 SMIN=1                 */
	0xC3 0x7F80	/* nIAlrtTh: Disabled                       */
	0xC6 0x5F05	/* nFullSOCThr: 95%                         */
	0xC7 0x0000	/* nTTFCfg                                  */
	0xC9 0x002F	/* nTCurve                                  */
	0xCA 0xF1F1	/* nTGain                                   */
	0xCB 0x198A	/* nTOff                                    */
>;
