// SPDX-License-Identifier: GPL-2.0
/* Copyright (c) 2019, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
#include "lito-redbull-battery.dtsi"

&soc {
	redfin_batterydata: qcom,battery-data {
		qcom,batt-id-range-pct = <10>;
		#include "batterydata-qcom-b5-Desay-ATL.dtsi"
	};
};

&pm7250b_charger {
	qcom,battery-data = <&redfin_batterydata>;
	qcom,chg-term-current-ma = <(-190)>;
};

&pm7250b_qg {
	qcom,battery-data = <&redfin_batterydata>;
};

&google_charger {
	google,wlc-power-supply = "wireless";
};
