/* Copyright (c) 2017, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/{
	/* Taimen's battery */
	b1_batterydata: qcom,battery-data {
		qcom,batt-id-range-pct = <15>;
		#include "b1-atl-3135.dtsi"
		#include "b1-lishen-3135.dtsi"
		#include "b1-liwinon-3135.dtsi"
	};
};

&pmi8998_fg {
	qcom,battery-data = <&b1_batterydata>;
};

