&tlmm {
	nfc {
		nfc_enable_active: nfc_enable_active {
			/* active state */
			mux {
				/* 12: NFC ENABLE, 24:ESE Enable, 122:ESE WAKEUP INT */
				pins = "gpio12", "gpio24", "gpio122";
				function = "gpio";
			};

			config {
				pins = "gpio12", "gpio24", "gpio122";
				drive-strength = <2>; /* 2 MA */
				bias-pull-up;
			};
		};

		nfc_enable_suspend: nfc_enable_suspend {
			/* sleep state */
			mux {
				/* 12: NFC ENABLE, 24:ESE Enable, 122:ESE WAKEUP INT */
				pins = "gpio12", "gpio24", "gpio122";
				function = "gpio";
			};

			config {
				pins = "gpio12", "gpio24", "gpio122";
				drive-strength = <2>; /* 2 MA */
				bias-disable;
			};
		};
	};
};

&qupv3_se3_i2c {
	status = "ok";
	st21nfcb: st21nfcb@8 {
		compatible = "st,st21nfcb-i2c";
		reg = <0x08>;
		clock-frequency = <400000>;
		interrupt-parent = <&tlmm>;
		interrupts = <63 IRQ_TYPE_LEVEL_HIGH>;
		reset-gpios = <&tlmm 12 GPIO_ACTIVE_HIGH>;
		ese-present;
		uicc-present;
		pinctrl-names = "default";
		pinctrl-0 = <&nfc_int_active &nfc_enable_active>;
	};
};
