/* Copyright (c) 2017, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */


/dts-v1/;

#include "sdm845-b1-common.dtsi"

/ {
	model = "Google Inc. MSM sdm845 B1 proto Board";
	compatible = "google,b1c1-sdm845", "qcom,sdm845";
	qcom,board-id = <0x00020305 0>;
};

/*
 * B1 P1 requires a SW workaround for easel because of a schematic error. This
 * will be resolved in P1.1 schematic and is not needed there.
 */
&s2mpb04_gpio {
	p1_workaround;
};

/*
 * B1 P1 requires the speaker amp to be strictly in i2s (instead of tdm mode)
 * This will be resolved in P1.1 schematic and is not needed there.
 */
&soc {
	sound-tavil {
		qcom,model = "sdm845-tavil-snd-card";
	};
};

&mdss_mdp {
	qcom,sde-vsync-source = <0>;
};

&sde_te_active {
	mux {
		pins = "gpio10";
	};
	config {
		pins = "gpio10";
	};
};

&sde_te_suspend {
	mux {
		pins = "gpio10";
	};
	config {
		pins = "gpio10";
	};
};

&nfc_enable_default {
	mux {
		/* 12: NFC ENABLE , 23: NFC_SE_PWR_REQ, 122:ESE WAKEUP INT */
		pins = "gpio12", "gpio23", "gpio122";
	};
	config {
		pins = "gpio12", "gpio23", "gpio122";
	};
};

&nq {
	status = "disabled";
};

/* path to speaker boosters */
&dai_mi2s3 {
	/* AP in SD0 (gpio60), AP out SD1 (gpio61); */
	/* SD0; in; ("rx-lines" is playback path): mask=1 */
	/* SD1; out ("tx-lines" is capture path): mask=2 */
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&quat_mi2s_mclk_active &quat_mi2s_active
			&quat_mi2s_sd0_active &quat_mi2s_sd1_active>;
	pinctrl-1 = <&quat_mi2s_mclk_sleep &quat_mi2s_sleep
			&quat_mi2s_sd0_sleep &quat_mi2s_sd1_sleep>;
};

&dai_quat_tdm_rx_0 {
	pinctrl-2 = <>;
	pinctrl-3 = <>;
};

&dai_quat_tdm_tx_0 {
	pinctrl-2 = <>;
	pinctrl-3 = <>;
};
