
#include "../qcom/smb1355.dtsi"

&smb1355_charger_0 {
	status = "ok";
};

&smb1355_charger_1 {
	status = "ok";
};

&pmi8998_pdphy {
	vbus-supply = <&smb2_vbus>;
	ext-vbus-supply = <&ext_5v_boost>;
};

&pmi8998_charger {
	google,boost_to_5_1V;
};

&pmi8998_fg {
	qcom,battery-thermal-coefficients = [d8 50 ff];
	qcom,cl-max-decrement = <5>;
	qcom,hold-soc-while-full;
	qcom,linearize-soc;
	qcom,fg-cutoff-voltage = <3300>;
	qcom,fg-empty-voltage = <3100>;
	qcom,fg-jeita-hyst-temp = <1>;
	qcom,fg-jeita-thresholds = <0 0 55 55>;
	qcom,fg-force-load-profile;
};

&tlmm {
	fg {
		fg_int_default: fg_int_default {
			mux {
				/* GPIO 62 Maxim FG status change Interrupt */
				pins = "gpio62";
				function = "gpio";
			};

			config {
				pins = "gpio62";
				drive-strength = <2>; /* 2 MA */
				bias-pull-up;
			};
		};

	};
};

/* smart battery: maxim fuel gauge */
&qupv3_se12_i2c {
	status = "ok";
	max1720x_fg: max1720x@36 {
		compatible = "maxim,max1720x";
		reg-names = "m5db", "nvram";
		reg = <0x36 0x0b>;
		interrupt-parent = <&tlmm>;
		interrupt-names = "fg_irq";
		interrupts = <62 IRQ_TYPE_LEVEL_LOW>;
		fg,irq-gpio = <&tlmm 62 0x00>;
		pinctrl-names = "default";
		pinctrl-0 = <&fg_int_default>;
		maxim,force-flash-config;
		/* maxim,force-load-config; */
	};
};

&soc {
	google_charger: google,charger {
		compatible = "google,charger";
		google,chg-update-interval = <30000>;
		google,chg-temp-nb-limits = <7>;
		google,chg-temp-limits = <0 100 200 420 460 480 550>;
		google,chg-cv-nb-limits = <3>;
		google,chg-cv-limits = <4200000 4300000 4400000>;
		google,chg-cc-limits = <
			 30  10   0
			 50  30  30
			100  70  50
			 80  50  50
			 50  50   0
			 30   0   0
		>;
	};
};
