/* Copyright (c) 2016, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "../qcom/sdm845-pmic-overlay.dtsi"
#include "../qcom/sdm845-pinctrl-overlay.dtsi"
#include "sdm845-b1c1-common.dtsi"

#include "sdm845-taimen-touch-stm-ftm4.dtsi"
#include "sdm845-b1c1-devboard-audio.dtsi"
#include "sdm845-b1c1-devboard-battery.dtsi"

&sensor_front_aux {
	csiphy-sd-index = <2>;
};

&mdss_mdp {
	qcom,sde-vsync-source = <0>;
};

&dsi_sw43402_cmd_display {
	qcom,dsi-display-active;
};

&sde_te_active {
	mux {
		pins = "gpio10";
	};
	config {
		pins = "gpio10";
	};
};

&sde_te_suspend {
	mux {
		pins = "gpio10";
	};
	config {
		pins = "gpio10";
	};
};

&nq {
	status = "disabled";
};

&nfc_enable_default {
	mux {
		/* 12: NFC ENABLE, 24:ESE Enable, 122:ESE WAKEUP INT */
		pins = "gpio12", "gpio24", "gpio122";
	};
	config {
		pins = "gpio12", "gpio24", "gpio122";
	};
};
