/* Copyright (c) 2017, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&vendor {
	b1_batterydata: qcom,battery-data {
		qcom,batt-id-range-pct = <10>;
		/* Desay using Lishen cell - 10k
		 * Sunwoda using Lishen cell - 22k
		 * Desay using ATL cell - 47k
		 * Sunwoda using ATL cell - 68k
		 * Sunwoda using Liwinon cell - 100k
		 */
		#include "batterydata-qcom-b1-10k.dtsi"
		#include "batterydata-qcom-b1-22k.dtsi"
		#include "batterydata-qcom-b1-47k.dtsi"
		#include "batterydata-qcom-b1-68k.dtsi"
		#include "batterydata-qcom-b1-100k.dtsi"
	};
};

&pmi8998_fg {
	qcom,battery-data = <&b1_batterydata>;
	qcom,fg-chg-term-current = <145>;
	qcom,fg-sys-term-current = <(-181)>;
};

&google_charger {
	google,chg-battery-capacity = <2915>;
};

&vendor {
	b1_maxim_config: maxim,config {
		maxim,b1-10k {
			maxim,batt-id-kohm = <10>;
#include "batterydata-maxim-b1-10k.dtsi"
		};
		maxim,b1-22k {
			maxim,batt-id-kohm = <22>;
#include "batterydata-maxim-b1-22k.dtsi"
		};
		maxim,b1-47k {
			maxim,batt-id-kohm = <47>;
#include "batterydata-maxim-b1-47k.dtsi"
		};
		maxim,b1-68k {
			maxim,batt-id-kohm = <68>;
#include "batterydata-maxim-b1-68k.dtsi"
		};
		maxim,b1-180k {
			maxim,batt-id-kohm = <100>;
#include "batterydata-maxim-b1-100k.dtsi"
		};
	};
};

&max1720x_fg {
	maxim,config = <&b1_maxim_config>;
};

&soc {
	google,overheat_mitigation {
		google,begin-mitigation-temp = <550>;
		google,end-mitigation-temp = <450>;
	};
};
