/* I2C pins 85/86 QUP_L0(5)
 * NRST 87
 * TRIG_INTZ 88
 *
 * HAP_PMIC_EN: PM845 GPIO 15
 */

&qupv3_se5_spi {
	status = "disabled";
};

&qupv3_se5_i2c {
	status = "okay";
	qcom,clk-freq-out = <1000000>;
	cs40l20@43 {
		compatible = "cirrus,cs40l20";
		reg = <0x43>;
		status = "ok";
	};
};

