/* Copyright (c) 2017, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&qupv3_se4_spi_pins {
	citadel_pin_defaults: citadel_pin_defaults {
		mux {
			pins = "gpio89", "gpio90", "gpio91", "gpio92";
			function = "qup4";
		};
	};
};

&qupv3_se4_spi {
	status = "okay";
	pinctrl-0 = <&citadel_pin_defaults>;
	pinctrl-1 = <&citadel_pin_defaults>;
	citadel@0 {
		compatible = "google,citadel";
		reg = <0>;
		spi-max-frequency = <1200000>;
	};
};
