
#include "../qcom/smb1355.dtsi"

&smb1355_charger_0 {
	status = "ok";
};

&smb1355_charger_1 {
	status = "ok";
};

&pmi8998_pdphy {
	vbus-supply = <&smb2_vbus>;
	ext-vbus-supply = <&ext_5v_boost>;
};

&pmi8998_charger {
	google,boost_to_5_1V;
};

&pmi8998_fg {
	qcom,battery-thermal-coefficients = [d8 50 ff];
	qcom,cl-max-decrement = <5>;
	qcom,hold-soc-while-full;
	qcom,linearize-soc;
	qcom,fg-cutoff-voltage = <3300>;
	qcom,fg-empty-voltage = <3100>;
	qcom,fg-jeita-hyst-temp = <2>;
	qcom,fg-jeita-thresholds = <0 5 50 55>;
	qcom,fg-force-load-profile;
};
