/* Copyright (c) 2019, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&dsi_s6e3hc2_dsc_wqhd_cmd {
	qcom,mdss-dsi-display-timings {
		timing@0 {
			/delete-property/ qcom,mdss-dsi-lp1-command;

			qcom,mdss-dsi-nolp-command = [
				15 01 00 00 14 00 02 53 00 /* HLPM OFF */
				15 01 00 00 00 00 02 53 20 /* write ctl 60 hz */
			];
		};
		timing@1 {
			/delete-property/ qcom,mdss-dsi-lp1-command;

			qcom,mdss-dsi-nolp-command = [
				15 01 00 00 14 00 02 53 00 /* HLPM OFF */
				15 01 00 00 00 00 02 53 30 /* write ctl 90 hz */
			];
		};
	};
};
