/* Copyright (c) 2018, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&tlmm {
	cs40l20_rst:cs40l20_rst {
		mux {
			pins = "gpio152";
			function = "gpio";
		};
		config {
			drive-strength = <2>;
			output-low;
		};
	};
};

&pm8150_gpios {
	clk_out {
		clk_out_default: clk_out_default {
			pins = "gpio3"; /* GPIO 3 */
			function = "func1"; /* Special Function 1 */
			bias-disable; /* No Pull */
			power-source = <0>; /* VIN0 */
			output-low; /* digital output, no invert */
			input-disable; /* prevent GPIO from being set to DIO */
		};
	};
};

&qupv3_se15_i2c {
	status = "ok";
	// see -qup.dtsi for clk-freq-out setting
	floral_cs40l25a: cs40l25a@43 {
		compatible = "cirrus,cs40l25a";
		pinctrl-names = "default";
		pinctrl-0 = <&cs40l20_rst &clk_out_default>;
		reset-gpios = <&tlmm 152 0>;
		reg = <0x43>;
		cirrus,boost-ind-nanohenry = <1000>;
		cirrus,boost-cap-microfarad = <4>;
		cirrus,boost-ipk-milliamp = <4500>;
		cirrus,boost-ctl-millivolt = <11000>; /* 11V */
		cirrus,boost-ovp-millivolt = <12000>; /* 12V */
		cirrus,f0-default = <2514000>; /* 153 Hz */
		cirrus,f0-min = <2424832>; /* 148 Hz */
		cirrus,f0-max = <2703360>; /* 165 Hz */
		cirrus,redc-comp-disable = <1>; /* disabling ReDC clk comp */
		cirrus,redc-default = <327728>; /* 15 Ohm */
		cirrus,redc-min = <302112>; /* 13.5 Ohm */
		cirrus,redc-max = <369248>; /* 16.5 Ohm */
		cirrus,gpio1-rise-index = <5>; /* 100% HEAVY_CLICK */
		cirrus,gpio1-fall-index = <4>; /* 75% HEAVY_CLICK */
		cirrus,gpio1-fall-timeout = <47278>; /* 985 ms */
		cirrus,gpio1-mode = <2>; /* enabled only in suspend mode */
		cirrus,refclk-gpio2 = <1>; /* set GPIO2 as REFCLK  */
		status = "ok";
	};
};
