ARCH=arm
BRANCH=android-msm-darter-3.18
CROSS_COMPILE=arm-linux-androideabi-
DEFCONFIG=darter-perf_defconfig 
EXTRA_CMDS="
arm-linux-androideabi-strip --strip-debug out/android-msm-darter-3.18/private/msm-compal-cw/drivers/staging/prima/wlan.ko && perl private/msm-compal-cw/scripts/sign-file sha512 out/android-msm-darter-3.18/private/msm-compal-cw/signing_key.priv out/android-msm-darter-3.18/private/msm-compal-cw/signing_key.x509 out/android-msm-darter-3.18/private/msm-compal-cw/drivers/staging/prima/wlan.ko ; arm-linux-androideabi-strip --strip-debug out/android-msm-darter-3.18/private/msm-compal-cw/sound/soc/codecs/bg-codec.ko && perl private/msm-compal-cw/scripts/sign-file sha512 out/android-msm-darter-3.18/private/msm-compal-cw/signing_key.priv out/android-msm-darter-3.18/private/msm-compal-cw/signing_key.x509 out/android-msm-darter-3.18/private/msm-compal-cw/sound/soc/codecs/bg-codec.ko
"
KERNEL_DIR=private/msm-compal-cw
LINUX_GCC_CROSS_COMPILE_PREBUILTS_BIN=prebuilts/gcc/linux-x86/arm/arm-linux-androideabi-4.9/bin
FILES="
arch/arm/boot/zImage-dtb
drivers/staging/prima/wlan.ko
sound/soc/codecs/bg-codec.ko
vmlinux
System.map
"
