/* Copyright (c) 2016, LGE Inc. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&i2c_2 { /* BLSP1 QUP2 */
	haptics: haptics@5a {
		compatible = "ti,drv2625";
		reg = <0x5a>;
		interrupt-parent = <&msm_gpio>;
		interrupts = <31 0x00>;
		vdd-supply = <&haptic_ext_vreg>;
		enable-gpio = <&msm_gpio 88 0x00>;
		loop = <0x00>; /* CSLOSE: 0x00, OPEN: 0x01 */
		actuator {
			name = "actuator";
			actuator-type = <0x01>; /* ERM: 0x00, LRA: 0x01 */
			rated-volt = <0x3d>;
			od-clamp-volt = <0x87>;
			lra-freq = <204>;
		};
	};

	nfc: pn548@28 {
		status = "okay";
		compatible = "nxp,pn548";
		reg = <0x28>;
		nxp,gpio_sda = <&msm_gpio 111 0x00>;
		nxp,gpio_scl = <&msm_gpio 112 0x00>;
		nxp,gpio_ven = <&msm_gpio 20 0x00>;
		nxp,gpio_mode = <&msm_gpio 27 0x00>;
		nxp,gpio_irq = <&msm_gpio 21 0x00>;
		qcom,clk-src = "BBCLK2";
		interrupt-parent = <&msm_gpio>;
		interrupts = <21 0x2>;
		interrupt-names = "nfc_irq";
		pinctrl-names = "default","suspend";
		pinctrl-0 = <&nfc_int_active &nfc_reset_active &nfc_mode_active>;
		pinctrl-1 = <&nfc_int_suspend &nfc_reset_suspend &nfc_mode_suspend>;
		nxp,i2c-pull-up = <1>;
		clocks = <&clock_rpm clk_bb_clk2_pin>;
		clock-names = "ref_clk";
	};
};

&soc {
	charger-dock {
		compatible = "charger-dock-detector";
		status = "okay";
	};
};
