#
# CAMERA
#

menuconfig CAMERA_FW_UPDATE
	tristate "Qualcomm Technologies, Inc. Camera Firmware Update"
		depends on I2C

menuconfig CAMERA_ACT_READ_LENS
	tristate "Qualcomm Technologies, Inc. Camera Actuator Read Lens function"
		depends on I2C
