/* Copyright (c) 2017, LGE Inc. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "apq8009-narwhal.dtsi"

&dsi_sharp_nt35350_cmd {
	qcom,mdss-dsi-on-command = [
		15 01 00 00 00 00 02 FF 10
		15 01 00 00 00 00 02 B3 00
		15 01 00 00 00 00 02 BB 10
		15 01 00 00 00 00 02 FF 24
		15 01 00 00 00 00 02 FB 01
		39 01 00 00 00 00 02 8A 80
		39 01 00 00 00 00 02 8B 00
		39 01 00 00 00 00 02 8D 01
		39 01 00 00 00 00 02 8C 00
		15 01 00 00 00 00 02 FF 10
		05 01 00 00 64 00 01 11 /* Sleep out */
		05 01 00 00 00 00 01 29 /* Display On */
		];
};
