#include "msm8909-mtp.dtsi"
#include "msm8909w-gpu.dtsi"
#include "msm8909-pm8916.dtsi"
#include "msm8909-pm8916-mtp.dtsi"
#include "msm8909w.dtsi"
#include "dsi-panel-rm69080-wqvga-cmd.dtsi"
#include "dsi-panel-rm67162-wqvga-cmd.dtsi"
#include "catfish-8909-pinctrl.dtsi"
#include "catfish-8909-bus.dtsi"

/ {
	bt_pwr {
                compatible = "bcm,bcm4358";
                bt_reg_on = <&msm_gpio 34 0>;       /* out bt reg_on pin */
                pinctrl-names = "default","sleep";
                pinctrl-0 = <&gpio_bt_reg_on_active>;
                pinctrl-1 = <&gpio_bt_reg_on_sleep>;
        };

        btsleep {
                compatible = "bcm,bluesleep";
                interrupt-parent = <&msm_gpio>;
                interrupts = <31 0x2002>;
                bt_host_wake = <&msm_gpio 31 0>;    /* in bt wakeup AP */
                bt_ext_wake = <&msm_gpio 32 0>;     /* out AP wakeup bt */
                pinctrl-names = "default","sleep";
                pinctrl-0 = <&gpio_bt_host_wake_active &gpio_bt_dev_wake_active>;
                pinctrl-1 = <&gpio_bt_host_wake_sleep &gpio_bt_dev_wake_sleep>;
        };
};

&soc {
        i2c@78b5000 { /* BLSP1 QUP1 */
                /*linear charger*/
                smb23x-lbc@12 {
                        compatible = "qcom,smb231-lbc";
                        reg = <0x12>;
                        interrupt-parent = <&msm_gpio>;
                        interrupts = <95 2>;
                        pinctrl-names = "default";
                        pinctrl-0 = <&smb_int_default &smb_susp_default>;
                        qcom,bms-psy-name = "bms";
                        qcom,float-voltage-mv = <4320>;
                        qcom,charging-timeout = <180>;  /* 180 270 360 */
                        qcom,recharge-thresh-mv = <150>; /* select 80 or 150mv */
                        qcom,iterm-ma = <50>; /* 20 30 50 75 */
                        qcom,fastchg-ma = <300>;
                        qcom,hot-bat-decidegc = <550>;
                        qcom,warm-bat-decidegc = <450>;
                        qcom,cool-bat-decidegc = <50>;
                        qcom,cold-bat-decidegc = <(-50)>;
                        qcom,soft-temp-vfloat-comp-mv = <200>;
                        qcom,soft-temp-current-comp-ma = <400>;
                        qcom,chg-inhibit-disabled;
                        qcom,apsd-disabled;
                        qcom,thermal-mitigation = <1500 900 500 100>;
                };
        };
		i2c@78ba000 { /* BLSP1 QUP6 */
			/*touch*/
			focaltech@38{
				compatible = "focaltech,fts";
				reg = <0x38>;
				interrupt-parent = <&msm_gpio>;
				interrupts = <65 0x2008>;
				vdd-supply = <&pm8916_l17>;
				vddio-supply = <&pm8916_l6>;
				focaltech,reset-gpio = <&msm_gpio 23 0x00>;
				focaltech,irq-gpio = <&msm_gpio 65 0x2008>;
				focaltech,switch-gpio = <&msm_gpio 75 0x00>;
				focaltech,display-coords =  <0 0 400 400>;
				focaltech,max-touch-number = <2> ;

				pinctrl-names = "default","sleep";
				pinctrl-0 = <&ts_int_active &ts_reset_active>;
				pinctrl-1 = <&ts_int_suspend &ts_reset_suspend>;

				/*touch no need info in this project*/
				/*
				focaltech,have-key;
				focaltech,key-number = <3>;
				focaltech,keys = <139 102 158>;
				focaltech,key-y-coord = <2000>;
				focaltech,key-x-coords = <200 600 800>;
				*/
				/*focaltech,display-coords =  <0 0 720 1280>;
				focaltech,key-y-coord = <1350>;
				focaltech,key-x-coords = <180 350 540>;*/
			};
		};
		spi@78b9000 { /* BLSP1 QUP5 */
			gps@0 {
				compatible = "ssp,BCM4773";
				reg = <0>;
				spi-max-frequency = <20000000>;
				interrupt-parent = <&msm_gpio>;
				interrupts = <94 0x4>;
				spi-cpol;
				spi-cpha;
				pinctrl-names = "default","sleep";
				pinctrl-0 = <&gps_mcu_req_default &gps_mcu_resp_default &gps_host_req_default &gpio_gps_on_active>;
				pinctrl-1 = <&gps_mcu_req_sleep &gps_mcu_resp_sleep &gps_host_req_sleep &gpio_gps_on_sleep>;
				ssp-host-req = <&msm_gpio 94 0x4>;
				ssp-mcu-req = <&msm_gpio 27 0>;
				ssp-mcu-resp = <&msm_gpio 28 0>;
			};
		};
};

&spi_4 { /* BLSP1 QUP4 */
	#address-cells = <1>;
	#size-cells = <0>;

	sensorhub@0 {
		compatible = "nanohub,nanohub_spi";
		reg = <0>;

		spi-max-frequency = <8000000>;
		spi-cpol;
		spi-cpha;

		interrupt-parent = <&msm_gpio>;
		interrupts = <97 0x2008>;
		sensorhub,irq1-gpio   = <&msm_gpio 97 0x2008>;
		sensorhub,irq2-gpio   = <&msm_gpio 96 0x2008>;
		sensorhub,wakeup-gpio = <&msm_gpio 71 0>;
		sensorhub,spi-cs-gpio = <&msm_gpio 14 0>;
		sensorhub,nreset-gpio = <&msm_gpio 72 0>;
		sensorhub,nreset_active_high;
		sensorhub,boot0-gpio  = <&msm_gpio 70 0>;
		sensorhub,hub-flag-int-gpio  = <&msm_gpio 73 0>;
		sensorhub,mode-flag1-gpio  = <&msm_gpio 8 0>;
		sensorhub,mode-flag2-gpio  = <&msm_gpio 9 0>;
		sensorhub,mode-flag3-gpio  = <&msm_gpio 99 0>;
		sensorhub,mode-flag4-gpio  = <&msm_gpio 110 0>;

		sensorhub,bl-addr = <0x08000000>;
		sensorhub,kernel-addr = <0x0800C000>;
		sensorhub,flash-banks = <0 0x08000000 0x04000>,
			<3 0x0800C000 0x04000>,
			<4 0x08010000 0x10000>,
			<5 0x08020000 0x20000>,
			<6 0x08040000 0x20000>;

		sensorhub,num-flash-banks = <5>;
		sensorhub,shared-flash-banks =  <2 0x08008000 0x04000>;
		sensorhub,num-shared-flash-banks = <1>;
		sensorhub,custom-flash-addr = <0x08060000>;
		sensorhub,custom-flash-len = <0x20000>;

		pinctrl-names = "default";
		pinctrl-0 = <&sensorhub_ctrl_active>;
		status = "ok";
	};
};

&msm_gpio {
        /delete-node/ smb_int_pin;
        smb_int_default: smb_int_default {
                mux {
                        pins = "gpio95";
                        function = "gpio";
                };
                config {
                        pins = "gpio95";
                        drive-strength = <2>;   /* 2 MA */
                        bias-pull-up;           /* PULL UP*/
                };
        };

        smb_susp_default: smb_susp_default {
                mux {
                        pins = "gpio58";
                        function ="gpio";
                };
                config {
                        pins = "gpio58";
                        drive-strength = <2>;   /* 2 MA */
                        bias-pull-up;           /* PULL UP*/
                        output-high;
                };
        };
};

&i2c_1 {
	status = "ok";
};
&i2c_4 {
	status = "disabled";
};
&i2c_6 {
	status = "ok";
};
&blsp1_uart2 {
        status = "ok";
        pinctrl-names = "default", "sleep";
        pinctrl-0 = <&blsp1_uart2_active>;
        pinctrl-1 = <&blsp1_uart2_sleep>;
};
