#include "msm8909-mtp.dtsi"
#include "msm8909w-gpu.dtsi"
#include "msm8909-pm8916.dtsi"
#include "msm8909-pm8916-mtp.dtsi"
#include "msm8909w.dtsi"
#include "dsi-panel-rm69080-wqvga-cmd.dtsi"
#include "dsi-panel-rm67162-wqvga-cmd.dtsi"

&soc {
        i2c@78b5000 { /* BLSP1 QUP1 */
                /*linear charger*/
                smb23x-lbc@12 {
                        compatible = "qcom,smb231-lbc";
                        reg = <0x12>;
                        interrupt-parent = <&msm_gpio>;
                        interrupts = <95 2>;
                        pinctrl-names = "default";
                        pinctrl-0 = <&smb_int_default &smb_susp_default>;
                        qcom,bms-psy-name = "bms";
                        qcom,float-voltage-mv = <4320>;
                        qcom,charging-timeout = <180>;  /* 180 270 360 */
                        qcom,recharge-thresh-mv = <150>; /* select 80 or 150mv */
                        qcom,iterm-ma = <50>; /* 20 30 50 75 */
                        qcom,fastchg-ma = <300>;
                        qcom,hot-bat-decidegc = <550>;
                        qcom,warm-bat-decidegc = <450>;
                        qcom,cool-bat-decidegc = <50>;
                        qcom,cold-bat-decidegc = <(-50)>;
                        qcom,soft-temp-vfloat-comp-mv = <200>;
                        qcom,soft-temp-current-comp-ma = <400>;
                        qcom,chg-inhibit-disabled;
                        qcom,apsd-disabled;
                        qcom,thermal-mitigation = <1500 900 500 100>;
                };

        };
};

&msm_gpio {
        /delete-node/ smb_int_pin;
        smb_int_default: smb_int_default {
                mux {
                        pins = "gpio95";
                        function = "gpio";
                };
                config {
                        pins = "gpio95";
                        drive-strength = <2>;   /* 2 MA */
                        bias-pull-up;           /* PULL UP*/
                };
        };

        smb_susp_default: smb_susp_default {
                mux {
                        pins = "gpio58";
                        function ="gpio";
                };
                config {
                        pins = "gpio58";
                        drive-strength = <2>;   /* 2 MA */
                        bias-pull-up;           /* PULL UP*/
                        output-high;
                };
        };
};

&i2c_1 {
	status = "ok";
};
