/ {
	/delete-node/ qcom,battery-data;
	walleye_batterydata: qcom,battery-data {
		qcom,batt-id-range-pct = <20>;
		#include "batterydata-walleye-id1.dtsi"
		#include "batterydata-walleye-id2.dtsi"
		#include "batterydata-walleye-unknown.dtsi"
	};
};

&pmi8998_fg {
	qcom,battery-data = <&walleye_batterydata>;
	qcom,fg-force-load-profile;
};
