#include "msm8998-htc-common.dtsi"
#include "msm8998-htc-regulator.dtsi"
#include "msm8998-htc-pm.dtsi"
#include "dsi-panel-muskie-s6e3ha3.dtsi"
#include "dsi-panel-muskie-ea8064tg.dtsi"
#include "dsi-panel-walleye-s6e3fa5.dtsi"
#include "msm8998-htc-nfc.dtsi"
#include "msm8998-camera-laser-muskie.dtsi"

&pcie0 {
	/* move and resize conf, io, and bars (mem) allocations */
	reg = <0x1c00000 0x2000>,
	      <0x1c06000 0x1000>,
	      <0x1b000000 0xf1d>,
	      <0x1b000f20 0xa8>,
	      <0x1b010000 0x20000>,  /* 128KB conf space */
	      <0x1b030000 0x20000>,  /* 128KB io space */
	      <0x1b100000 0xf00000>; /* 15M bars space */
	ranges = <0x01000000 0x0 0x1b030000 0x1b030000 0x0 0x20000>, /* io */
		 <0x02000000 0x0 0x1b100000 0x1b100000 0x0 0xf00000>; /* bars */

	/* QCOM's GICM implementation is not compatible with Easel */
	/delete-property/ qcom,msi-gicm-addr;
	/delete-property/ qcom,msi-gicm-base;

	/* reduce endpoint reset latency */
	qcom,ep-latency = <1>;

	/* WAKE# optional sideband signal not connected */
	/delete-property/ wake-gpio;
	/* Remove pcie0_wake_default from pin muxing */
	pinctrl-0 = <&pcie0_clkreq_default &pcie0_perst_default>;
};

&wil6210 {
	status = "disabled";
};

&mdss_dsi0 {
	qcom,dsi-pref-prim-pan = <&dsi_s6e3ha3_dualdsi_wqhd_cmd>;
	/delete-property/qcom,panel-mode-gpio;
	/delete-property/ lab-supply;
	/delete-property/ ibb-supply;
	wqhd-vddio-supply = <&pm8998_l14>;
	vci-supply = <&pm8998_l22>;
	pinctrl-names = "mdss_default", "mdss_sleep";
	pinctrl-0 = <&mdss_dsi_active &mdss_te_active>;
	pinctrl-1 = <&mdss_dsi_suspend &mdss_te_suspend>;
	qcom,platform-reset-gpio = <&tlmm 94 0>;
	qcom,platform-te-gpio = <&tlmm 10 0>;
};

&mdss_dsi1 {
	qcom,dsi-pref-prim-pan = <&dsi_s6e3ha3_dualdsi_wqhd_cmd>;
	/delete-property/qcom,panel-mode-gpio;
	/delete-property/ lab-supply;
	/delete-property/ ibb-supply;
	wqhd-vddio-supply = <&pm8998_l14>;
	vci-supply = <&pm8998_l22>;
	pinctrl-names = "mdss_default", "mdss_sleep";
	pinctrl-0 = <&mdss_dsi_active &mdss_te_active>;
	pinctrl-1 = <&mdss_dsi_suspend &mdss_te_suspend>;
	qcom,platform-reset-gpio = <&tlmm 94 0>;
	qcom,platform-te-gpio = <&tlmm 10 0>;
};

&pm8998_l14 {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
};

&pm8998_l22 {
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
};

&tlmm {
	pmx_mdss: pmx_mdss {
		mdss_dsi_active: mdss_dsi_active {
			mux {
				pins = "gpio94";
				function = "gpio";
			};
				config {
				pins = "gpio94";
				drive-strength = <8>; /* 8 mA */
				bias-disable = <0>; /* no pull */
			};
		};
		mdss_dsi_suspend: mdss_dsi_suspend {
			mux {
				pins = "gpio94";
				function = "gpio";
			};
				config {
				pins = "gpio94";
				drive-strength = <2>; /* 2 mA */
				bias-pull-down; /* pull down */
			};
		};
	};
};
&pmi8998_wled {
	status = "disabled";
};
&labibb {
	status = "disabled";
};
&mdss_fb2 {
	status = "disabled";
};
&mdss_hdmi_tx {
	status = "disabled";
};
&mdss_fb3 {
	status = "disabled";
};
&mdss_dp_ctrl {
	status = "disabled";
};
