/* Copyright (c) 2016, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */


#include "msm8996-htc-common.dtsi"
#include "msm8996-htc-regulator.dtsi"
#include "msm8996-htc-pm.dtsi"
#include "msm8996-htc-nanohub-v2.dtsi"
#include "msm8996-touch-m1.dtsi"
#include "msm8996-key-t50.dtsi"
#include "msm8996-htc-fingerprint.dtsi"
#include "msm8996-htc-led.dtsi"
#include "dsi-panel-s1m1-ea8064tg.dtsi"
#include "dsi-panel-s1m1-s6e3ha3.dtsi"
#include "dsi-panel-t50.dtsi"
#include "msm8996-audio-marlin.dtsi"
#include "msm8996-camera-sensor-m1s1.dtsi"
#include "msm8996-camera-laser-m1s1.dtsi"
#include "msm8996-htc-nfc.dtsi"

&mdss_dsi0 {
	vddio-supply = <&pm8994_lvs2>;
	vci-supply = <&pm8994_l29>;

        qcom,platform-te-gpio = <&tlmm 10 0>;
        qcom,platform-reset-gpio = <&tlmm 39 0>;
        /delete-property/ qcom,platform-bklight-en-gpio;
};

&mdss_dsi1 {
	vddio-supply = <&pm8994_lvs2>;
	vci-supply = <&pm8994_l29>;

        qcom,platform-te-gpio = <&tlmm 10 0>;
        qcom,platform-reset-gpio = <&tlmm 39 0>;
        /delete-property/ qcom,platform-bklight-en-gpio;
};

&mdss_dsi_active {
        mux {
                pins = "gpio39";
                function = "gpio";
        };

        pmx_mdss {
                pins = "gpio39";
                drive-strength = <2>; /* 2 mA */
                output-high;
        };
};

&mdss_dsi_suspend {
        mux {
                pins = "gpio39";
                function = "gpio";
        };

        config {
                pins = "gpio39";
                drive-strength = <2>; /* 2 mA */
                output-low;
        };
};

&rpm_bus {
        rpm-regulator-ldoa29 {
                status = "okay";
                pm8994_l29: regulator-l29 {
                        regulator-min-microvolt = <3000000>;
                        regulator-max-microvolt = <3000000>;
                        regulator-boot-on;
                        regulator-always-on;
                        qcom,init-voltage = <3000000>;
                        status = "okay";
                };
	};
};

&pcie1{
	compatible = "qcom,pci-msm-na";
};

&pcie2{
	compatible = "qcom,pci-msm-na";
};

&soc {
        qcom,cnss {
                /delete-property/ wlan-ant-switch-supply;
        };
};

/{
        qcom,battery-data {
                qcom,batt-id-range-pct = <15>;
                #include "batterydata-m1s1-prototype-id1.dtsi"
                #include "batterydata-m1s1-prototype-id2.dtsi"
        };
};
