/* Copyright (c) 2016, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */


#include "msm8996-htc_marlin.dtsi"
#include "msm8996-touch-s1.dtsi"

&qusb_phy0 {
	qcom,qusb-phy-init-seq = <0xE8 0x80
				0x23 0x84
				0x81 0x88
				0xC0 0x8C
				0x30 0x08
				0x79 0x0C
				0x21 0x10
				0x14 0x9C
				0x9F 0x1C
				0x00 0x18>;
};

&pmi8994_charger {
        qcom,hvdcp-not-support;
        qcom,iterm-ma = <50>;
        qcom,fastchg-current-ma = <2600>;
        qcom,float-voltage-mv = <4400>;
        qcom,float-voltage-comp = <0x1E>;
        qcom,charging-timeout-mins = <768>;
        qcom,precharging-timeout-mins = <24>;
        qcom,resume-delta-mv = <100>;
        qcom,parallel-main-chg-icl-percent = <50>;
        /delete-property/ otg-parent-supply;
        qcom,pd-is-limited-5v;
};

&pmi8994_fg {
        qcom,thermal-coefficients = [97 85 62 49 5A 35];
        qcom,resume-soc = <98>;
        qcom,warm-bat-decidegc = <470>;
        qcom,cool-bat-decidegc = <100>;
        qcom,hot-bat-decidegc = <550>;
        qcom,cold-bat-decidegc = <0>;
        qcom,fg-iterm-ma = <277>;
        qcom,fg-chg-iterm-ma = <50>;
        qcom,fg-cc-cv-threshold-mv = <4390>;
        qcom,ext-sense-type = <1>;
        qcom,cold-hot-jeita-hysteresis = <20 30>;
        qcom,fg-cutoff-voltage-mv = <3400>;
};

/{
        qcom,battery-data {
                qcom,batt-id-range-pct = <15>;
                /delete-node/ qcom,itech-3000mah;
                /delete-node/ qcom,m1-id1-batterydata;
                /delete-node/ qcom,m1-id2-batterydata;
                /delete-node/ qcom,m1-id3-batterydata;
                #include "batterydata-s1-id1.dtsi"
                #include "batterydata-s1-id2.dtsi"
                #include "batterydata-s1-id3.dtsi"

        };
};

&usb3 {
        vbus_dwc3-supply = <&smbcharger_external_otg>;
};
