/* Copyright (c) 2016, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */


#include "msm8996-htc_marlin.dtsi"
#include "msm8996-touch-s1.dtsi"

&qusb_phy0 {
	qcom,qusb-phy-init-seq = <0xE8 0x80
				0x03 0x84
				0x81 0x88
				0xC0 0x8C
				0x30 0x08
				0x79 0x0C
				0x21 0x10
				0x14 0x9C
				0x9F 0x1C
				0x00 0x18>;
};

&pmi8994_charger {
        qcom,hvdcp-not-support;
};

/{
        qcom,battery-data {
                qcom,batt-id-range-pct = <15>;
                #include "batterydata-m1s1-prototype-id1.dtsi"
                #include "batterydata-m1s1-prototype-id2.dtsi"
        };
};
