#include "msmcobalt-htc-common.dtsi"
#include "msmcobalt-htc-regulator.dtsi"
#include "msmcobalt-htc-pm.dtsi"
#include "dsi-panel-muskie-s6e3ha3.dtsi"

&cci {
        qcom,camera@1 {
                /delete-property/ cam_vana-supply;
        };
};
