#
# Goodix GT1x Touchscreen driver
#

config GT1X_TOUCHPANEL_DRIVER
	tristate "Goodix GT1x touchpanel driver"
	depends on TOUCHSCREEN_GT1X
	default n
	help
	  This is the main file for touchpanel driver for Goodix GT1x
	  touchscreens.

	  Say Y here if you have a Goodix GT9xx touchscreen connected
	  to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called gt1x_tool.

config GT1X_TOUCHPANEL_UPDATE
	tristate "Goodix GT1x touchpanel auto update support"
	depends on GT1X_TOUCHPANEL_DRIVER
	default n
	help
	  This enables support for firmware update for Goodix GT1x
	  touchscreens.

	  Say Y here if you have a Goodix GT1x touchscreen connected
	  to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called gt1x_update.

config GT1X_TOUCHPANEL_DEBUG
	tristate "Goodix GT1x Tools for debuging"
	depends on GT1X_TOUCHPANEL_DRIVER
	default n
	help
	  This is application debug interface support for Goodix GT1x
	  touchscreens.

	  Say Y here if you want to have a Android app debug interface
	  to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called gt1x_tool.
