#
# HTC_DEBUG stability Kconfig
#
config HTC_REBOOT_BLOCK
	bool "Store reboot reason / msg ...etc. in IMEM or storage"
	default n
	help
	  Say Y here if you want the HTC Reboot Block features

config HTC_DEBUG_RESTART_TIMER
	bool "add a timer in restart notifier chain"
	default y
	depends on HTC_DEBUG

config HTC_NC_GPIO_PIN_SETTING
	bool "HTC style nc pin setting features"
	default n
	depends on PINCTRL
	help
	  Say Y here if you want the HTC style nc pin setting features

config PRINTK_CPU_ID
	depends on PRINTK
	default y
	bool "Enable support for Print working core no. in dmesg" if EXPERT
	help
	  Print working CPU number in the dmesg as default, it can be turned
	  off by writing 0 to module parameter cpu.

config PRINTK_PID
	depends on PRINTK
	default y
	bool "Enable support for Print working task id in dmesg" if EXPERT
	help
	  Print working process id in the dmesg as default, it can be turned
	  off by writing 0 to module parameter pid.

config HTC_DEBUG_BOOTLOADER_LOG
	bool "HTC style ram console debug features"
	default n
	depends on PSTORE_CONSOLE
	help
	  Say Y here if you want the HTC style ram console debug features
