#
# STMicroelectronics TOUCH driver configuration
#

config TOUCHSCREEN_FTS
	tristate "STMicroelectronics multitouch touchscreen - FingerTipS (FTM5)"
	depends on SPI
	select TOUCHSCREEN_HEATMAP
	help
	  Say Y here to enable STMicroelectronics (FTM5) touchscreen support.
	  If unsure, say N.
	  To compile this driver as a module, choose M here: the module
	  will be called ftm5.
