menu "LGE Board Selection"

config MACH_SWORDFISH
	bool "MSM8909 SWORDFISH"
	depends on ARCH_MSM8909
	help
	  Support for the LGE MSM8909W SWORDFISH device.

config MACH_ANGELFISH
	bool "APQ8009W ANGELFISH"
	depends on ARCH_MSM8909
	help
	  Support for the LGE APQ8009W SWORDFISH device.

endmenu

menu "LGE Specific Patches"

config LGE_HANDLE_PANIC
	tristate "Support LGE Kernel Panic Handler"
	default n
	help
	  LGE Crash Handler

endmenu
